 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 229px auto 229px 430px;
  padding: 10px 69px 10px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    border-style: solid;
    letter-spacing: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}